html, body, body > div {
  background-color: #F5F5F5;
  height: 100%;
}

.main-content {
  height: 100%;
}

.modal-window {
  position: absolute;
  z-index: 10;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}
